/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2014, 11:04:16 AM
    Author     : davis.sylvester
*/

// Global Configuration

//Color Schemas;
@PrimaryColor: #009D97;
@SecondaryColor: #7EC2AA;
@PrimaryText:  #AA2159;
@SecondaryText: #57102C;

// Colors:
@HeaderBackgroundColor: #009D97;//#A0B7DA; //#2A0E7F;
@BorderColor: #7EC2AA; //#5f6084;
@HeaderTitle: #AA2159; //#7e5e60 ;

//  PADDING
@globalInternalPaddingPercentage: .5%;

//FONTS
@globalFontFamily: 'Josefin';
//@globalFontFamilyHeader: 'Amaranth';
@globalFontFamilyHeader: 'Amaranth-B';
@globalFontFamilyHeaderBold: 'Amaranth-B';
@globalFontFamilyHeaderBoldItalic: 'Amaranth-BI';
@globalFontFamilyHeaderItalic: 'Amaranth-I';
@panelFont:  "Oswald";

// TEXT
@globalHeaderTextSize: 1em;
@globalText: .8em;

// Standard Tag Styling
@globalH1Size: 1em;

//Header Styling
.headerRow(){
    background-color: @HeaderBackgroundColor;
    
}

.globalSetting(){
    padding: @globalInternalPaddingPercentage;
    font-family: @globalFontFamily;
    vertical-align: top;
}

.headerText(){
    font-family: @globalFontFamilyHeaderBold;
    font-size: @globalHeaderTextSize;
    padding: 4px;

}

body, h1, h2, h3, h4{
    margin: 0;
    padding: 0;
    font-family: 'Josefin-Thin';
}


h1{
    font-family: 'Poster'; //@globalFontFamilyHeaderBold;
    font-size: @globalH1Size;
    color: #000;
    padding: @globalInternalPaddingPercentage;
}

.container{
    width: 100vw;
    display: inline-block;
}

.header-row{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: @HeaderBackgroundColor;
  
}
.header-row > .col-header {
    border-right: 2px inset #ccc;
}

.header-row > .col-header:last-child{
    border: 0;
}

.col-header{
    .headerText();
    text-align: center;
    
}

.col-1 {
    width: 5.6%;
    display: inline-block;
    .globalSetting();
}

.col-2 {
    width: 11.2%;
    display: inline-block;
    .globalSetting();
}
.col-3 {
    width: 16.8%;
    display: inline-block;
    .globalSetting();
}
.col-4 {
    width: 22.4%;
    display: inline-block;
    .globalSetting();
}
.col-5 {
    width: 28%;
    display: inline-block;
    .globalSetting();
}
.col-6 {
    width: 33.6%;
    display: inline-block;
    .globalSetting();
}
.col-7 {
    width: 39.2%;
    display: inline-block;
    .globalSetting();
}

.col-8 {
    width: 44.8%;
    display: inline-block;
    .globalSetting();
}
.col-9 {
    width: 50.4%;
    display: inline-block;
    .globalSetting();
}
.col-10 {
    width: 56%;
    display: inline-block;
    .globalSetting();
    }

.col-11 {
    width: 61.6%;
    display: inline-block;
    .globalSetting();
}

.col-12 {
    width: 67.2%;
    display: inline-block;
    .globalSetting();

}
.col-13 {
    width: 72.8%;
    display: inline-block;
    .globalSetting();
}
.col-14 {
    width: 78.4%;
    display: inline-block;
    .globalSetting();
}
.col-15 {
    width: 84%;
    display: inline-block;
    .globalSetting();
}
.col-16 {
    width: 89.6%;
    display: inline-block;
    .globalSetting();
}

.panel{
    width: 100%;
    font-family: @panelFont; 
}


.panel-heading{
    font-size: 1.2em;
    text-align: center;
    font-family: @globalFontFamilyHeader;
    font-weight: 500;
    color: #fff;    
    padding: @globalInternalPaddingPercentage;
    .panel-Primary();
    
}
.panel-body{
     padding: @globalInternalPaddingPercentage 1%;
    .panel-body-border();
}

.panel-body-General{
    .panel-body-border( #443266);
}
.panel-body-border{
    .panel-body-border();
}

.panel-body-border(@BorderBodyColor: @BorderColor){
    border: 1px solid @BorderBodyColor;
}

.panel-type(@type: panel-Primary){

}
.panel-Secondary{
    .panel-Secondary();
}

.panel-General{
    .panel-Generic(#8C489F, #443266);
}

.panel-Generic(@bkground-generic, @border-generic){
    .panelBorders(@border-generic);
    .panelBackgroundColor(@bkground-generic);
}
.panel-Secondary(){
     .panelBorders(#C1D3C8);
    .panelBackgroundColor(#6A5A5B);
}

.panel-Primary{
    .panelBorders();
    .panelBackgroundColor();
}

.row{
    margin-bottom: 1%;
    vertical-align: top;
}

select{
    .formGenerals();
    height: 1.7em;
}
.formGenerals(){
    line-height: 1.5em;
    font-size: 1.3em;
    font-family: @globalFontFamily;
    text-align: center;
    
}

.formLabel{
    .formGenerals();
    display: block;
    width: 100%;
    text-align: right;
}

input{
    width: 100%;    
    border: 1px solid green;
    .formGenerals();
}

input:focus{
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.errorMessage{
    font-family: inherit;
    color: red;
    font-weight: 700;
}

.SecurityQuestion{
    line-height: 1.5em;
    font-size: 1.3em;
    font-family: @globalFontFamily;
    text-align: right;
    display: block;
    width: 100%;
}

.btn{
    padding: 1% 3%;
    background-color: #009d97;
    color: #000; 
    font-size: 1.2em;
}

h1{
    font-size: 2em;
    font-weight:600;
    color: @HeaderTitle;
    font-family: @globalFontFamilyHeaderBold;
}

    // FONTS
    @font-face {
    font-family: 'Amaranth-B';
    src: url("../fonts/Amaranth-Bold.otf");
}
    @font-face {
    font-family: 'Amaranth-BI';
    src: url("../fonts/Amaranth-BoldItalic.otf");

}

@font-face {
    font-family: 'Amaranth-I';
    src: url("../fonts/Amaranth-Italic.otf");
}
    @font-face {
    font-family: 'Amaranth';
    src: url("../fonts/Amaranth-Regular.otf");
}

        @font-face {
    font-family: 'Josefin-Thin';
    src: url("../fonts/JosefinSans-Thin.ttf");
}
    @font-face {
    font-family: 'Josefin';
    src: url("../fonts/JosefinSans-Reqular.ttf");
}

    @font-face {
    font-family: 'Josefin-Light';
    src: url("../fonts/JosefinSans-Light.ttf");
}
    @font-face {
    font-family: 'Josefin-Bold';
    src: url("../fonts/JosefinSans-Bold.ttf");
}
     @font-face {
    font-family: 'Poster';
    src: url("../fonts/HVD_Poster.ttf");
}

 @font-face {
    font-family: 'Goudy';
    src: url("../fonts/goudy_bookletter_1911.otf");
}
 
 @font-face {
    font-family: 'Playtime';
    src: url("../fonts/Playtime.ttf");
}    


.panelBorders(@PanelBorder: @BorderColor){
    border-top: 2px solid @PanelBorder;
    border-left: 2px solid @PanelBorder;
    border-right: 2px solid @PanelBorder;
    
}   

.panelBackgroundColor(@bgcolor: @HeaderBackgroundColor){
    background-color: @bgcolor;
    /*background: -moz-linear-gradient(top, @bgcolor 0%, #FFF 100%);
    background: -webkit-linear-gradient(top, @bgcolor 0%, #FFF 100%);*/
    background: linear-gradient(top, @bgcolor 0%, #FFF 100%);
}  

.panel-body > .row{
    border-bottom: 1px dotted @HeaderBackgroundColor;
    
}

.panel-body > .row:last-child{
    border-bottom: 0;
    
}

// Navagation
#nav{}

#nav ul{
    padding: 0;
    margin: 0;
    line-height: 30px;
    background: @PrimaryColor;
}

#nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    position: relative;
    background: @PrimaryColor;
    color: #fff;
}

.NavPrimary{
    background: @PrimaryColor;
}


#nav ul li a{
    text-decoration: none;
    text-align: center;
    height: 30px;
    width: 150px;
    display: block;
    border: 1px solid #000;
    color: @PrimaryText;
}

#nav ul ul{
    position: absolute;
    visibility: hidden;
    top: 32px;
    
}

#nav ul li:hover ul{
    visibility: visible;
    
}

#nav li:hover{
    background: @PrimaryColor;
}

#nav  ul li:hover ul li a:hover{
    background: @SecondaryColor;
}

#hav a:hover{
    color: @PrimaryText;
}

.clear{
    clear: both;
    margin: 0;
    padding: 0;
}

/*****************************************/
/*         FORMS STYLING                 */
/*****************************************/

.formLabel{
    text-align: right;
    padding-right: 2%;
}

form.formGeneral .row .formLabelsColumn{
    .formColumnsGeneric;
    width: 20%;    
    text-align: right;
    font-family: 'Encode-Med';
    font-size: 2vh;
    vertical-align: top;
/*    height: 3.3vh;*/
}
.formGeneral .row .formValueColumn{
    .formColumnsGeneric;
    width: 70%;    
    text-align: left;
    height: 100%;
}

.formColumnsGeneric{
    display: inline-block;
    margin-right: 2%;
    height: 100%;
}

.formGeneral .row .errorMsg{
    line-height: 2vh;
    font-family: 'Encode-Med';
    font-size: 1.5vh; 
    color: red;
    text-align: left;
    padding-left: 30%;
    margin: .5%;
}

input, select{
    padding: 0px;
    margin: 0px;
    font-size: 2vh;
    height: 100%;
    border: 1px solid rgb(60, 167, 224, .09);
    box-shadow: 5px @SecondaryColor;
    padding-left: 2%;
}

textarea{
    width: 100%;
    height: 7vh;
    border: 1px solid rgb(60, 167, 224, .09);
    box-shadow: 5px @SecondaryColor;
}

.btn(@color){
    background: @color;
}

input::input-placeholder{
    color: purple;
}
.CommandButton{
    .btn(@SecondaryColor);
}


.errorMessage{
    padding-left: 30%;
    color: red;
}

/********************************/
/*    POSITIONING TEXT          */
/********************************/
.center{text-align: center;}
.pullRight{
    text-align: right;
}
