/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2014, 11:04:16 AM
    Author     : davis.sylvester
*/
body,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: 'Josefin-Thin';
}
h1 {
  font-family: 'Poster';
  font-size: 1em;
  color: #000;
  padding: 0.5%;
}
.container {
  width: 100vw;
  display: inline-block;
}
.header-row {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #009d97;
}
.header-row > .col-header {
  border-right: 2px inset #ccc;
}
.header-row > .col-header:last-child {
  border: 0;
}
.col-header {
  font-family: 'Amaranth-B';
  font-size: 1em;
  padding: 4px;
  text-align: center;
}
.col-1 {
  width: 5.6%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-2 {
  width: 11.2%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-3 {
  width: 16.8%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-4 {
  width: 22.4%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-5 {
  width: 28%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-6 {
  width: 33.6%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-7 {
  width: 39.2%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-8 {
  width: 44.8%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-9 {
  width: 50.4%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-10 {
  width: 56%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-11 {
  width: 61.6%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-12 {
  width: 67.2%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-13 {
  width: 72.8%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-14 {
  width: 78.4%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-15 {
  width: 84%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.col-16 {
  width: 89.6%;
  display: inline-block;
  padding: 0.5%;
  font-family: 'Josefin';
  vertical-align: top;
}
.panel {
  width: 100%;
  font-family: "Oswald";
}
.panel-heading {
  font-size: 1.2em;
  text-align: center;
  font-family: 'Amaranth-B';
  font-weight: 500;
  color: #fff;
  padding: 0.5%;
  border-top: 2px solid #7ec2aa;
  border-left: 2px solid #7ec2aa;
  border-right: 2px solid #7ec2aa;
  background-color: #009d97;
  /*background: -moz-linear-gradient(top, @bgcolor 0%, #FFF 100%);
    background: -webkit-linear-gradient(top, @bgcolor 0%, #FFF 100%);*/
  background: linear-gradient(top, #009d97 0%, #ffffff 100%);
}
.panel-body {
  padding: 0.5% 1%;
  border: 1px solid #7ec2aa;
}
.panel-body-General {
  border: 1px solid #443266;
}
.panel-body-border {
  border: 1px solid #7ec2aa;
}
.panel-Secondary {
  border-top: 2px solid #c1d3c8;
  border-left: 2px solid #c1d3c8;
  border-right: 2px solid #c1d3c8;
  background-color: #6a5a5b;
  /*background: -moz-linear-gradient(top, @bgcolor 0%, #FFF 100%);
    background: -webkit-linear-gradient(top, @bgcolor 0%, #FFF 100%);*/
  background: linear-gradient(top, #6a5a5b 0%, #ffffff 100%);
}
.panel-General {
  border-top: 2px solid #443266;
  border-left: 2px solid #443266;
  border-right: 2px solid #443266;
  background-color: #8c489f;
  /*background: -moz-linear-gradient(top, @bgcolor 0%, #FFF 100%);
    background: -webkit-linear-gradient(top, @bgcolor 0%, #FFF 100%);*/
  background: linear-gradient(top, #8c489f 0%, #ffffff 100%);
}
.panel-Primary {
  border-top: 2px solid #7ec2aa;
  border-left: 2px solid #7ec2aa;
  border-right: 2px solid #7ec2aa;
  background-color: #009d97;
  /*background: -moz-linear-gradient(top, @bgcolor 0%, #FFF 100%);
    background: -webkit-linear-gradient(top, @bgcolor 0%, #FFF 100%);*/
  background: linear-gradient(top, #009d97 0%, #ffffff 100%);
}
.row {
  margin-bottom: 1%;
  vertical-align: top;
}
select {
  line-height: 1.5em;
  font-size: 1.3em;
  font-family: 'Josefin';
  text-align: center;
  height: 1.7em;
}
.formLabel {
  line-height: 1.5em;
  font-size: 1.3em;
  font-family: 'Josefin';
  text-align: center;
  display: block;
  width: 100%;
  text-align: right;
}
input {
  width: 100%;
  border: 1px solid green;
  line-height: 1.5em;
  font-size: 1.3em;
  font-family: 'Josefin';
  text-align: center;
}
input:focus {
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.errorMessage {
  font-family: inherit;
  color: red;
  font-weight: 700;
}
.SecurityQuestion {
  line-height: 1.5em;
  font-size: 1.3em;
  font-family: 'Josefin';
  text-align: right;
  display: block;
  width: 100%;
}
.btn {
  padding: 1% 3%;
  background-color: #009d97;
  color: #000;
  font-size: 1.2em;
}
h1 {
  font-size: 2em;
  font-weight: 600;
  color: #aa2159;
  font-family: 'Amaranth-B';
}
@font-face {
  font-family: 'Amaranth-B';
  src: url("../fonts/Amaranth-Bold.otf");
}
@font-face {
  font-family: 'Amaranth-BI';
  src: url("../fonts/Amaranth-BoldItalic.otf");
}
@font-face {
  font-family: 'Amaranth-I';
  src: url("../fonts/Amaranth-Italic.otf");
}
@font-face {
  font-family: 'Amaranth';
  src: url("../fonts/Amaranth-Regular.otf");
}
@font-face {
  font-family: 'Josefin-Thin';
  src: url("../fonts/JosefinSans-Thin.ttf");
}
@font-face {
  font-family: 'Josefin';
  src: url("../fonts/JosefinSans-Reqular.ttf");
}
@font-face {
  font-family: 'Josefin-Light';
  src: url("../fonts/JosefinSans-Light.ttf");
}
@font-face {
  font-family: 'Josefin-Bold';
  src: url("../fonts/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: 'Poster';
  src: url("../fonts/HVD_Poster.ttf");
}
@font-face {
  font-family: 'Goudy';
  src: url("../fonts/goudy_bookletter_1911.otf");
}
@font-face {
  font-family: 'Playtime';
  src: url("../fonts/Playtime.ttf");
}
.panel-body > .row {
  border-bottom: 1px dotted #009d97;
}
.panel-body > .row:last-child {
  border-bottom: 0;
}
#nav ul {
  padding: 0;
  margin: 0;
  line-height: 30px;
  background: #009d97;
}
#nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  position: relative;
  background: #009d97;
  color: #fff;
}
.NavPrimary {
  background: #009d97;
}
#nav ul li a {
  text-decoration: none;
  text-align: center;
  height: 30px;
  width: 150px;
  display: block;
  border: 1px solid #000;
  color: #aa2159;
}
#nav ul ul {
  position: absolute;
  visibility: hidden;
  top: 32px;
}
#nav ul li:hover ul {
  visibility: visible;
}
#nav li:hover {
  background: #009d97;
}
#nav ul li:hover ul li a:hover {
  background: #7ec2aa;
}
#hav a:hover {
  color: #aa2159;
}
.clear {
  clear: both;
  margin: 0;
  padding: 0;
}
/*****************************************/
/*         FORMS STYLING                 */
/*****************************************/
.formLabel {
  text-align: right;
  padding-right: 2%;
}
form.formGeneral .row .formLabelsColumn {
  display: inline-block;
  margin-right: 2%;
  height: 100%;
  width: 20%;
  text-align: right;
  font-family: 'Encode-Med';
  font-size: 2vh;
  vertical-align: top;
  /*    height: 3.3vh;*/
}
.formGeneral .row .formValueColumn {
  display: inline-block;
  margin-right: 2%;
  width: 70%;
  text-align: left;
  height: 100%;
}
.formColumnsGeneric {
  display: inline-block;
  margin-right: 2%;
  height: 100%;
}
.formGeneral .row .errorMsg {
  line-height: 2vh;
  font-family: 'Encode-Med';
  font-size: 1.5vh;
  color: red;
  text-align: left;
  padding-left: 30%;
  margin: .5%;
}
input,
select {
  padding: 0px;
  margin: 0px;
  font-size: 2vh;
  height: 100%;
  border: 1px solid #3ca7e0;
  box-shadow: 5px #7ec2aa;
  padding-left: 2%;
}
textarea {
  width: 100%;
  height: 7vh;
  border: 1px solid #3ca7e0;
  box-shadow: 5px #7ec2aa;
}
input::input-placeholder {
  color: purple;
}
.CommandButton {
  background: #7ec2aa;
}
.errorMessage {
  padding-left: 30%;
  color: red;
}
/********************************/
/*    POSITIONING TEXT          */
/********************************/
.center {
  text-align: center;
}
.pullRight {
  text-align: right;
}
/*# sourceMappingURL=SlyWebFramework.css.map */